@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrap {
  max-width: 1024px;
  margin: 0 auto;
  background: #f5e0e0;
}

.header {
  background-image: url("../img/header_desktop.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  max-width: 1024px;
  height: 420px;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .header {
    background-size: auto;
    background-position: center;
  }
}

.top {
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.75);
}

.logo {
  margin-left: 42px;
  font-size: 24px;
  color: #FFFFFF;
  font-weight: 900;
}

.menu-pc {
  margin-right: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.menu-pc a {
  margin-right: 30px;
  text-decoration: none;
  font-size: 16px;
  color: #FFFFFF;
  padding-bottom: 15px;
}

.menu-pc a:hover {
  border-bottom: 3px solid #efe9e7;
}

.menu-mobile {
  display: none;
}

@media (max-width: 585px) {
  .menu-pc {
    display: none;
  }
  .menu-mobile {
    display: block;
    padding: 8px 10px;
  }
  .menu-mobile ::after {
    content: "";
    clear: both;
  }
  .menu-icon {
    display: block;
    position: relative;
    width: 32px;
    height: 32px;
    border: solid 2px #ffffff;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
  }
  .menu-icon > span {
    display: block;
    width: 28px;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    opacity: 1;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .menu-icon > span:nth-child(1) {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  .menu-icon > span:nth-child(3) {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  /* 手機板內裡選單預設不顯示 */
  .menu-mobile ul {
    display: none;
    position: absolute;
    left: 0;
    top: 56px;
    background-color: #000000ee;
    width: 100%;
  }
  /*動態加入*/
  .menu-icon.animated > span:nth-child(1) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .menu-icon.animated > span:nth-child(2) {
    opacity: 0;
  }
  .menu-icon.animated > span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .inside-menu li {
    width: 100%;
    text-align: center;
  }
  .inside-menu a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 0;
    width: 100%;
    min-height: 44px;
    text-decoration: none;
    color: #ffffff;
  }
  .inside-menu a:hover {
    color: #000000;
    background-color: #ffb300;
  }
}

.slogan {
  margin: 67px auto 0px auto;
  background: rgba(0, 0, 0, 0.35);
  max-width: 460px;
  height: 152px;
  text-align: center;
  padding-top: 20px;
}

.slogan h1 {
  font-size: 36px;
  color: #FFFFFF;
  padding-bottom: 16px;
}

.slogan h2 {
  font-size: 16px;
  color: #FFFFFF;
  line-height: 24px;
}

@media (max-width: 768px) {
  .slogan {
    margin: 67px auto 0px auto;
  }
}

@media (max-width: 400px) {
  .slogan h1 {
    font-size: 28px;
  }
}

.footer {
  background: rgba(250, 250, 250, 0.377);
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer .end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 11px 16px 11px;
}

.footer .about {
  max-width: 299px;
}

.footer .about h2 {
  font-size: 24px;
  color: #3D1101;
}

.footer .about p {
  font-size: 16px;
  color: #3D1101;
}

.footer .connection {
  max-width: 299px;
}

.footer .connection h2 {
  font-size: 24px;
  color: #3D1101;
}

.footer .connection p {
  font-size: 16px;
  color: #3D1101;
}

.footer .footerlogo {
  max-width: 245px;
  margin-right: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer .footerlogo h1 {
  font-size: 49px;
  color: #3D1101;
  letter-spacing: -1px;
  font-weight: bold;
  margin-bottom: 22px;
}

.footer .footerlogo img {
  width: 31px;
  height: 36px;
  margin-left: 12px;
}

@media (max-width: 768px) {
  .footerlogo {
    margin-top: 20px;
    margin-right: 0px;
  }
}

#gotop {
  position: fixed;
  border-radius: 50px;
  right: 20px;
  bottom: 30px;
  padding: 10px 16px;
  font-size: 25px;
  background: rgba(214, 36, 36, 0.36);
  color: #FAFCFD;
  cursor: pointer;
  z-index: 1000;
}

.content {
  text-align: center;
}

.question {
  margin: 50px auto 31px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.question h2 {
  font-size: 20px;
  color: #3D1101;
  line-height: 32px;
}

.question::before {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 100px;
  content: "";
  border-top: 1px solid #3D1101;
}

.question::after {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 100px;
  content: "";
  border-top: 1px solid #3D1101;
}

.food ul {
  margin: 0 62px 50px 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #3D1101;
}

.food li {
  width: 260px;
}

.food img {
  border-radius: 180px;
  max-width: 100%;
}

.food h3 {
  margin: 20px auto 11px auto;
  font-size: 18px;
}

.food p {
  font-size: 16px;
  text-align: left;
}

@media (max-width: 768px) {
  .food li {
    max-width: 200px;
    margin-top: 30px;
  }
}

.chef {
  background: #3D1101;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.chef .chefphoto {
  margin-left: 42px;
  background-image: url(../img/main_chef_brown.png);
  width: 470px;
  height: 460px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.chef .chefq {
  max-width: 410px;
  text-align: left;
  color: #EFE9E7;
  margin: 81px auto 80px auto;
}

.chef .chefq h3 {
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 16px;
}

.chef .chefq p {
  font-size: 16px;
}

@media (max-width: 768px) {
  .chefphoto {
    max-width: 373px;
    max-height: 460px;
  }
  .chefq {
    max-width: 330px;
    text-align: left;
    color: #EFE9E7;
    margin: 81px auto 80px auto;
  }
}

.openassess {
  color: #3D1101;
  background: rgba(250, 250, 250, 0.377);
}

.openassess .assesstitle {
  text-align: center;
  font-size: 24px;
  margin: 0px auto 32px auto;
  padding-top: 50px;
}

.openassess .assess ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 42px;
}

.openassess .assess li {
  max-width: 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.openassess .assess img {
  border-radius: 67px;
  margin-right: 13px;
}

.openassess .assess div {
  text-align: left;
}

.openassess .assess h2 {
  line-height: 67px;
}

.openassess .assess p {
  line-height: 24px;
}

.openassess .assess span {
  line-height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 768px) {
  .assess li {
    max-width: 320px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.openmap {
  color: #3D1101;
  margin-bottom: 50px;
}

.openmap .maptitle {
  font-size: 24px;
  margin: 50px auto 38px auto;
  line-height: 1.5;
}

.openmap .mapbooking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.openmap .map {
  background-image: url(../img/Map.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  height: 386px;
  width: 100%;
  margin-left: 42px;
}

.openmap .booking {
  margin-left: 20px;
  text-align: left;
  font-size: 14px;
  line-height: 1.5;
  width: 100%;
  margin-right: 42px;
}

.openmap .booking form {
  width: 100%;
}

.openmap .booking input {
  width: 100%;
  margin-bottom: 6px;
  height: 32px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  padding: 0 14px;
}

.openmap .booking .radio {
  max-width: 14px;
  max-height: 14px;
}

.openmap .booking .button {
  margin-left: 11px;
  max-width: 70px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.35);
  text-align: center;
}

.openmap .booking .button:hover {
  background-color: #f56c32;
}

.openmap .buttonstyle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 60px;
  width: 100%;
}

@media (max-width: 768px) {
  .mapbooking {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .map {
    margin: 10px auto 10px auto;
  }
}

.shopping {
  color: #3D1101;
  line-height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 768px) {
  .shopping {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.foodmenu {
  margin: 0 50px 0 20px;
  width: 220px;
}

@media (max-width: 768px) {
  .foodmenu {
    width: 80%;
  }
}

.foodtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  font-size: 20px;
  text-align: left;
  margin-bottom: 16px;
}

.foodtitle img {
  width: 26px;
  height: 26px;
  border-radius: 30px;
  margin-right: 15px;
  position: relative;
  top: 5px;
}

.foodsel {
  text-align: left;
}

.foodsel li {
  border-bottom: 2px solid #3D1101;
}

.foodsel li:hover {
  background-color: #6d3a23;
}

.foodsel a {
  display: block;
  width: 100%;
  padding: 3px 10px;
  text-decoration: none;
  font-size: 16px;
  color: #3D1101;
}

.foodsearch {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.foodsearch .fs {
  width: 424px;
  border: 3px solid #3D1101;
  padding: 0 6px;
}

.foodsearch .sbimg {
  width: 36px;
  height: 32px;
  background-image: url(../img/search.svg);
  background-color: #3D1101;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 112px;
}

.foodsearch .order {
  text-align: right;
  font-size: 16px;
  border-right: 1px solid #3D1101;
  padding: 0px 12px;
  margin-right: 16px;
  text-decoration: none;
  color: #3D1101;
}

.foodsearch .order:hover {
  background-color: #6d3a23;
}

.foodsearch .car {
  width: 32px;
  background-image: url("../img/shopping-cart.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center center;
  text-decoration: none;
}

.foodsearch .nub {
  position: relative;
  left: 10px;
  bottom: 10px;
  max-width: 16px;
  font-size: 12px;
  padding: 1px 5px;
  color: #ffffff;
  background-color: #ff0000;
  border-radius: 180px;
}

@media (max-width: 768px) {
  .shoppingcar {
    margin: 22px 0 0 20px;
  }
  .foodsearch {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .foodsearch .fs {
    width: 25%;
  }
  .foodsearch .sbimg {
    margin-right: 10%;
  }
}

.foodmenusel {
  margin-top: -4px;
  margin-bottom: 30px;
  color: #3D1101;
}

.foodmenusel ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.foodmenusel li {
  width: 220px;
  height: 280px;
  margin: 30px 10px 0 10px;
  -webkit-box-shadow: 4px 4px 3px rgba(51, 51, 102, 0.5);
          box-shadow: 4px 4px 3px rgba(51, 51, 102, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 10;
}

.foodmenusel li img {
  width: 220px;
}

.foodmenusel p {
  font-size: 20px;
  width: 100%;
}

.foodmenusel span {
  font-size: 12px;
  width: 100%;
}

.foodmenusel a {
  display: block;
  width: 200px;
  height: 28px;
  text-decoration: none;
  font-size: 16px;
  color: #ff5e45;
  border: 2px solid #ff5e45;
  padding: 1px 0 1px 0;
  margin: 0 0 5px 0;
}

.foodmenusel li > p:nth-child(6) {
  width: 91px;
  border-top: 1px solid #3d1101;
  padding: 13px 0 0 0;
}

.foodmenusel a:hover {
  background-color: #ff5e45;
  color: #ffffff;
}

.foodmenusel a > img {
  width: 13px;
  height: 14px;
  margin: 0 2px 0 0;
}

.foodmenusel .like {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 15;
  padding: 2px;
  line-height: 0px;
}

.foodmenusel .like img {
  width: 20px;
  height: 20px;
}

.foodmenusel .like.sellike {
  border-radius: 20px;
  background-color: pink;
}

.foodmenusel .ribbonwrap {
  width: 116px;
  height: 112px;
  overflow: hidden;
  position: absolute;
  right: -8px;
  top: -6px;
  z-index: 20;
}

.foodmenusel .ribbon {
  position: absolute;
  top: 20px;
  z-index: inherit;
  width: 150px;
  height: 30px;
  background-color: #00cc99;
  color: #ffffff;
  line-height: 28px;
  font-size: 14px;
  font-weight: bold;
  padding-left: 8px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.foodmenusel .ribbon::before {
  content: "";
  border-top: 5px solid #074034;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  height: 30px;
  left: 16px;
  top: 30px;
}

.foodmenusel .ribbon::after {
  content: "";
  border-top: 6px solid #074034;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  position: absolute;
  right: 10px;
  bottom: -6px;
}

@media (max-width: 768px) {
  .foodmenusel ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.reg {
  color: #3D1101;
}

.reg p {
  font-size: 48px;
}

.reg span {
  font-size: 20px;
}

.regbor {
  border-top: 2px solid #ff5e45;
  width: 620px;
  margin: 35px auto 35px auto;
  -webkit-box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
}

.regbor > p:nth-child(1) {
  font-size: 18px;
  padding: 10px 0 0 0;
}

.regform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 16px;
}

.regform p {
  font-size: 18px;
  width: 285px;
  text-align: left;
  line-height: 1.5;
  margin: 0 20px 0 15px;
}

@media (max-width: 768px) {
  .regbor {
    width: 85%;
  }
  .regform {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .regform p {
    width: 90%;
  }
}

.regisiter {
  width: 100%;
  margin: 0 20px 0 0;
}

.regisiter input {
  width: 100%;
  margin-bottom: 6px;
  height: 32px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  padding: 0 14px;
}

.regisiter span {
  font-size: 16px;
  float: left;
  line-height: 1.5;
}

.regform a {
  font-size: 14px;
  float: left;
  line-height: 1.5;
  text-decoration: none;
  color: #3D1101;
}

.submitbuttom {
  max-width: 125px;
  height: 32px;
  float: right;
  margin-top: 49px;
  margin-bottom: 0;
  color: #ffffff;
  background-color: #f56c23;
  padding: 0;
}
/*# sourceMappingURL=all.css.map */